{% extends 'base_staff.html' %}

{% block content %}


<input type="button" value="Back" onclick="window.history.back()" />

<div>

<h3 style="color: black;">Archive Orders:</h3>

{% for order in orders %}

Order ID: {{ order.orderID }} 
<form method="POST">
    <input type="submit" name="delete" value="Delete"> </br>
    <input type="hidden" name="key" value="{{ order.orderID }}">
</form>

{% endfor %}
<br>
<form method="POST">
    <input type="submit" name="delete_all" value="Delete All"> </br>
</form>

{% endblock %}