<!DOCTYPE html>
<html lang="en">

<head>
    <title>Restaurant Order System!</title>
</head>
	<!-- <link rel="stylesheet" type="text/css" href="static/styles.css" /> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="jumbotron">

<body>

<!-- Tab Menu -->
<a class="nav" href="{{ url_for('index') }}">Back to Homepage</a> <br/>

<br>

<!-- Main Content -->
{% block content %}

{% endblock %}

</body>
</html>
