{% extends 'base.html' %}
{% block content %}

<div>
    
<div>
<body>
<div class="jumbotron">
<h1> Drinks </h1>    

<form method="POST">
    {% for drink_name, drink in inventory.drinks.items() %}
        <br><div style="width: 100px; display:inline-block; text-align: right;">{{ drink_name }}</div>
        
        {% if 'Small' not in drink.size and (drink.stock > 10) %}  
            <input type="checkbox" name="drink" value="{{ drink_name }}" />
            <div style="width: 100px; display:inline-block; text-align: right;">Cost: ${{ drink.cost }}</div>
            <div style="width: 122px; display:inline-block; text-align: right;"> Quantity: </div> 
            <input type=hidden name= 'size' value = 'N/A'>
            <input type="number" name="quantity" value="0" min="0" max="10"> 
        {% endif %}
        {% if 'Small' in drink.size and (drink.stock > 10) %}   
            <input type="checkbox" name="drink" value="{{ drink_name }}" />      
            <select name="size">
                <option value="None">Size</option>
                {% for s in drink.size %}
                    {{ loop.index }}
                    <option value="{{ s }}">{{ s }}: Cost: ${{ (drink.cost*loop.index) }} </option>
                {% endfor %}
            </select> Quantity:
            <input type="number" name="quantity" value="0" min="0" max="10"> 
        {% endif %}

    {% endfor %}
    {% for drink_name, drink in inventory.drinks.items() %}
        {% if drink.stock < 10 %}
            <p style="color: red;">Sorry! {{ drink_name }} is unavailable due to insufficient stock</p>
        {% endif %}
    {% endfor %}

    {% if select_error %}
        <span style="color:#ff0000;">{{select_error}}</span> </br>
    {% endif %}

    {% if checkbox_error %}
        <span style="color:#ff0000;">Please select all required fields when selecting a side</span> </br>
    {% endif %}
    <br />
    <input type="submit" name="confirm" value="Confirm"></input> </br><br />
    <input type="button" value="Back" onclick="window.history.back()" />

</form>



</body>
</div>
{% endblock %}


